<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>TwProjects - Home</title>
	    <!-- pico css styles -->
	    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
	</head>
	<body>
		<div th:replace="~{fragments/_navbar :: navbar}"></div>
	
	    <main class="container">
	        <h1>Boas vindas</h1>
	        <p>
	            Este é um projeto de exemplo do curso de spring boot
	        </p>
	        
	        <!-- 
	        	
    		Use th:insert se você quer adicionar um fragmento dentro de uma tag existente.
    		Use th:replace se você quer que o fragmento substitua a tag completamente.
	        	
	         -->
	        
	        <!-- 
	        	exemplo de uso de fragments parametrizados 
	        
	        <div th:replace="~{fragments/_card :: card ('Boas vindas', 'Bem vindo a treina web')}"></div>
    	    <div th:replace="~{fragments/_card :: card (content='Boas vindas', title='Bem vindo a treina web')}"></div>
    	    <div th:replace="~{fragments/_card :: card (_, 'Bem vindo a treina web')}"></div>
    	     -->
	    </main>
	</body>
</html>