<!DOCTYPE html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>TwProjects - Home</title>
    <!-- pico css styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>TwProjects</li>
        </ul>
        <ul>
            <li><a href="#">Clientes</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>Boas vindas</h1>
        <p>
            Este é um projeto de exemplo do curso de spring boot
        </p>
    </main>
</body>
</html>