<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>biblioteca</title>
		<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" >
		<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<style type="text/css">
			.mensagem {
				color: red
			}
		</style>
	</head>
	<body>
		<h3>Olá Bibliotecario</h3>
	</body>
</html>