<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>biblioteca</title>
		<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" >
		<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<style type="text/css">
			.mensagem {
				color: red
			}
		</style>
	</head>
	<body>
		<div th:insert="fragments/publica-nav :: nav"></div>
		<div class="container">
			<div class="row">
				<div class="col">
				
					<div class="alert laert-danger alert-dismissible fade show" th:if="${param.error}">
						<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
						<span>Senha ou usuario invalido</span>
					</div>
					
					<form th:action="@{/login}" method="post">
						
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label">Usuario : </label>
							<div class="col-sm-3">
								<input class="form-control" type="text" name="username" >
							</div>
						</div>
						
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label">Senha : </label>
							<div class="col-sm-3">
								<input class="form-control" type="text" name="password" >
							</div>
						</div>
						
						<input class="btn btn-primary" type="submit" value="Entrar" >
					</form>
					
				</div>
			</div>
		</div>
	</body>
</html>