<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TwProjects - Pagina não encontrada</title>
    <!-- pico css styles -->
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>TwProjects</li>
        </ul>
        <ul>
            <li><a th:href="@{/clients}">Clientes</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>404</h1>

        <p>
            A pagina que vc procura não foi encontrada
        </p>
        <a onclick="window.history.back()">Voltar</a>
    </main>
</body>
</html>