<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content}, _, _)}">
	<th:block th:fragment="title">Format-data</th:block>

	<th:block th:fragment="content">
		<h1>Formatação de dados</h1>

		<p th:text="${#locale}"></p>
		<p th:text="${locale}"></p>
		<p th:text="${#temporals.format(date, 'dd/MM/yyyy')}"></p>
		<p th:text="${#temporals.format(datetime, locale)}"></p>
		<p th:text="${#numbers.formatCurrency(currency)}"></p>
		<p th:text="${#numbers.formatDecimal(currency, 3, 2, 'COMMA')}"></p>
		<p th:text="${#numbers.formatPercent(percent,1,0)}"></p>
	</th:block>
</html>
