<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content, styles, scripts)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TwProjects - <th:block th:replace="${title}"></th:block></title>
        <!-- pico css styles -->
        <link rel="stylesheet" th:href="@{/css/pico.min.css}">

        <th:block th:replace="${styles}"></th:block>
        <th:block th:replace="${scripts}"></th:block>
    </head>
    <body>
        <div th:replace="~{fragments/_navbar :: navbar}"></div>

        <main class="container" th:insert="${content}"></main>
    </body>
</html>